@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #80FFEC;
    --secondary-color: #7DF9FF;
    --accent1-color: #003366;
    --accent2-color: #FFFFFF;

    --heading-font: 'Arial', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #00ff7f;
    --nav-link-color: #000000;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #80FFEC;
}

body {
    font-family: Roboto;
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

nav {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    height: 54px;
    align-self: center;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: roboto;
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    align-items: center;
    grid-template-columns: 200px 3fr;

}

p {
    padding: 25px;
}
.hero {
    position: relative;
    top: 50px;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    
}

article {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    background-color: rgb(128, 255, 236, 0.6);
}

h1 {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgb(128, 255, 236, 0.6);

}

.hero article img {
    float: right;
    right: 200px;
    width: 150px;
    height: auto;
}

article p {
    margin-right: 0px; 
}

.adv_heading {
    display: flex;
    justify-content: center;
}

.adv_img {
    display: grid;
    grid-template-columns: 192px 192px 192px 192px 192px;
    justify-content: space-evenly;
    width: 960px;
    margin-bottom: 20px;
    justify-items: center;
    
}

.adv_img img {
    width: 185px;
    height: 140px;
}

.sociallinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 110px;
    width: 240px;
}

.sociallinks img {
    width: 50px;
    height: 50px;
    align-items: center;
    float: right;
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;

    
}

.his {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

.fot_p {
    display: flex;
    justify-content: center;
}

.nav_header {
    background-color: #00ff7f;
}

.his_art {
    margin: 0 auto;
    background-color: rgb(128, 255, 236, 0.6);
}

.his_art img {
    position: relative;
    float: left;
    width: 350px;
    height: auto;
}
.his_text {
    text-align: justify;
}